apiVersion: v1
kind: Service
metadata:
  name: consumer-service
  namespace: eyego-task
  labels:
    app: consumer
spec:
  type: NodePort
  selector:
    app: consumer
  ports:
  - port: 3001
    targetPort: 3001
    nodePort: 30001
    protocol: TCP
    name: http
