apiVersion: v1
kind: Service
metadata:
  name: producer-service
  namespace: eyego-task
  labels:
    app: producer
spec:
  type: NodePort
  selector:
    app: producer
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
    name: http
